.mg-t2 {
    margin-top: 2px;
}

.mg-t3 {
    margin-top: 3px;
}

.mg-t5 {
    margin-top: 5px;
}

.mg-t10 {
    margin-top: 10px;
}

.mg-t15 {
    margin-top: 15px;
}

.mg-t30 {
    margin-top: 30px;
}

.mg-t35 {
    margin-top: 35px;
}